/***** Step 1 *****/

p {
	border-bottom: 2px solid orange;
}

.kermit {
  border: 1px solid darkgreen;
  border-radius: 20%;
}

#main-div-1 {
	padding: 5%;
}


/***** Step 2 *****/

#main-div-2 .kermit {
	border: 3px dotted purple;
}

#main-div-2 p {
	background-color: pink;
}


/***** Step 3 *****/

#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: 900;
}

#li-3 {
	text-transform: uppercase;
}

#mystery-ul li:nth-child(2n + 1) {
	font-family: "Mystery Quest", cursive;
}

img {
	width: 200px;
}


/***** Step 4 *****/

#flex-kermit {
  display: flex;
}

#flex-kermit > img {
  width: 25%;
}

input:valid {
	background-color: yellow;
}

input:invalid {
	background-color: red;
}